@import url('https://fonts.googleapis.com/css2?family=Hammersmith+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
.hammersmith-one-regular {
  font-family:
    'Hammersmith One', 'Montserrat', 'Courier New', Courier, monospace;
  font-weight: 400;
  font-style: normal;
}

/* .montserrat-<uniquifier> {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
} */
* {
  transition:
    background-color 0.3s ease,
    color 0.3s ease;
}
